.specification[data-v-d137c56e] {
  padding: 20px 20px 100px;
  overflow: auto;
  font-size: 14px;
}
.title[data-v-d137c56e] {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.chapter[data-v-d137c56e] {
  margin: 20px auto;
  line-height: 24px;
}
.chapter .chapter-title[data-v-d137c56e] {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
}
.section[data-v-d137c56e] {
  margin-bottom: 20px;
}
.bold[data-v-d137c56e] {
  font-weight: bold;
}
.dark-theme .specification[data-v-d137c56e],
.dark[data-v-d137c56e] {
  background-color: #282828;
  color: #8e8e8e;
}
.dark-theme .light[data-v-d137c56e] {
  background-color: #fff;
  color: inherit;
}

.p-rel {
  position: relative;
}
.p-abs {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.f-clear:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.d-block {
  display: block;
}
.d-i-block {
  display: inline-block;
}
.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
}
.d-none {
  display: none;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.c-default {
  cursor: default;
}
.c-pointer {
  cursor: pointer;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.tc-pink {
  color: #f25d8e;
}
.tc-pink-hover {
  color: #ff85ad;
}
.tc-pink-sub {
  color: #ffaec9;
}
.tc-blue {
  color: #00a1d6;
}
.tc-blue-hover {
  color: #00b5e5;
}
.tc-blue-sub {
  color: #68cff1;
}
.tc-yellow {
  color: #f7b32c;
}
.tc-yellow-hover {
  color: #ffc248;
}
.tc-red {
  color: #e40c0c;
}
.tc-black {
  color: #222;
}
.tc-dark-slate {
  color: #6d757a;
}
.tc-slate {
  color: #99a2aa;
}
.bc-gray {
  border-color: #ccd0d7;
}
.bc-light-gray {
  border-color: #e5e9ef;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f4f5f7;
}
.bg-center {
  background-position: center center;
}
.over-hidden {
  overflow: hidden;
}
.b-circle {
  border-radius: 50%;
}
.b-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ff-yahei {
  font-family: "Microsoft YaHei", "Microsoft Sans Serif", "Microsoft SanSerf", "微软雅黑";
}
.ls-0 {
  letter-spacing: 0;
}
.bp-v-middle {
  vertical-align: middle;
}
.break-all {
  word-break: break-all;
}
.fw-bold {
  font-weight: bold;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body,
button,
form,
input,
li,
ol,
p,
td,
textarea,
ul {
  margin: 0;
  padding: 0;
}
margin,
nav {
  display: block;
}
img {
  border: 0;
  outline: 0;
}
li {
  list-style: none;
}
a {
  outline: none;
  text-decoration: none;
}
button {
  outline: none;
}
em {
  font-style: normal;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
textarea-webkit-input-placeholder {
  color: #99a2aa;
}
textarea-moz-input-placeholder {
  color: #99a2aa;
}
textarea-ms-input-placeholder {
  color: #99a2aa;
}
.dynamic-link-hover-bg {
  border-radius: 4px;
}
.dynamic-link-hover-bg:hover {
  background-color: #dde2eb;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:hover,
*:active,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input:focus,
input,
textarea,
textarea:focus,
select,
button {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-size: 14px;
  outline: 0;
}
input,
select,
label {
  -webkit-appearance: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
input {
  padding: 0;
  margin: 0;
}
.dark input,
.dark button,
.dark select,
.dark input:focus,
.dark textarea,
.dark textarea:focus {
  background-color: inherit;
}
.dark input,
.dark select,
.dark textarea {
  color: #8e8e8e;
}

html,
body {
  background-color: #fff;
  color: #212121;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.specification {
  min-height: 100vh;
}
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

